<%- include('../layouts/UserHeader.ejs',session) %>


<div class="col-12 d-flex justify-content-center align-items-center m-lr-auto" style="height: auto; flex-direction: column;">
	<div class="row">
		
	</div>
	<div class="p-3">
		
		<img src="https://bakestudio.in/assets/images/cart/empty-cart.gif" alt="" class="mb-3" style="height:auto;width: auto;">
	</div>
	<h4 class="mb-3">Missing Cart Items?</h4>
	<h5 class="mb-3">Add your products</h5>
	<a href="/home" class="btn btn-primary m-b-10">Continue Shopping</a>
</div>

		
<%- include('../layouts/UserFooter.ejs') %>
		

	