<%- include('../layouts/header.ejs') %>+


<h1>Add NEW CATEGORY</h1>

<form action="/admin/add-category" method = "post">

    <input name="name" type="text" placeholder="add category">
    
    <input type="submit" placeholder="OK">



</form>














<%- include('../layouts/footer.ejs') %>