<%- include('../layouts/header.ejs') %>+


<h1>Add NEW PRODUCT</h1>

<form action="" method = "post" enctype="multipart/form-data" >

    <input name="name" type="text" placeholder="Enter name">

    <input name="price" type="number" placeholder="Enter price">

    <input name="meterial" type="text" placeholder="meterial">

    <input name="description" type="text" placeholder="Enter details">

    <label for="category">Category</label>
    <select name="category" class="form-control" required>
    <option selected>Select category</option>
    <% if(category.length > 0){ %>

        <% for(let i = 0 ;i<category.length ; i++){ %>
           
            <option value="<%= category[i].name %>" required> <%= category[i].name %> </option>

            <% } %>
    <% } %>
    </select>

    <input name="stock" type="number" placeholder="stock">

    <input name="images" type="file" placeholder="upload" multiple>
    
    <input type="submit" placeholder="OK">

</form>

<%- include('../layouts/footer.ejs') %>


