<%- include('../layouts/header.ejs') %>


<nav class="navbar navbar-expand-lg navbar-light bg-light ps-4">
    <a class="navbar-brand" href="#">Shoping Kart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="#">Table</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 ms-auto pe-5" action="/logout">
        <button class="btn btn-outline-success my-2 " type="submit">Log Out</button>
      </form>
    </div>
  </nav>
  
  
  <section style="background-color: #eee;">
    <div class="text-center container py-5">
       <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>
      <div class="row mx-5 my-5">
  
    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-img-top-center" src="" style=" width: 100%;
            height: 322px;
            background-image: url('https://www.mydesignation.com/wp-content/uploads/2019/08/malayali-tshirt-mydesignation-mockup-image-latest-golden-.jpg');
            background-repeat: no-repeat;
            background-size: contain;"
            alt="Card image cap">
          </div>
        <div class="card-body">
          <h5 class="card-title">T-Shirts</h5>
          <p class="card-text">Clothing</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-img-top-center" src="" style=" width: 100%;
            height: 322px;
            background-image: url('https://rukminim1.flixcart.com/image/612/612/xif0q/shoe/l/u/c/10-8050-black-red-waan-black-red-original-imag5psezyhhwwks-bb.jpeg?q=70');
            background-repeat: no-repeat;
            background-size: contain;"
            alt="Card image cap">
          </div>
        <div class="card-body">
          <h5 class="card-title">Shoes</h5>
          <p class="card-text">Foot Wears</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-img-top-center" src="" style=" width: 100%;
            height: 322px;
            background-image: url('https://cdn.shopify.com/s/files/1/0420/7073/7058/collections/006_400x.jpg?v=1666953442');
            background-repeat: no-repeat;
            background-size: contain;"
            alt="Card image cap">
          </div>
        <div class="card-body">
          <h5 class="card-title">Shirts</h5>
          <p class="card-text">Clothing</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-img-top-center" src="" style=" width: 100%;
            height: 322px;
            background-image: url('https://cdn3.mydukaan.io/app/image/700x700/?url=https://dukaan-core-file-service.s3.ap-southeast-1.amazonaws.com/upload_file_service/97369a9c-d497-4c20-ad81-fd70571bdafc/menspantfront-png');
            background-repeat: no-repeat;
            background-size: contain;"
            alt="Card image cap">
          </div>
        <div class="card-body">
          <h5 class="card-title">Pants</h5>
          <p class="card-text">Clothing</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  
  </div>
   </div>
  </section>
  
  





















<%- include('../layouts/footer.ejs') %>
